.footer {
    position: relative;
    background-color: #4C3D3D;
    padding: 20px;
    .whatsapp-icon {
        position: fixed;
        bottom: 20px; 
        right: 20px; 
        z-index: 1000; 
        img {
            width: 60px; 
            height: 60px;
            display: block;
            transition: all 0.3s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    
    i {
        margin-right: 10px;
        font-size: 24px;

    }
    .fab.fa-whatsapp,
    .fab.fa-instagram,
    .fab.fa-facebook-square {
        color: white;
        transition:all 0.4s;
        &:hover {
            color: $azul;
            font-size: 30px;
         }
    }

}


   