/* estilo para el contenedor productos */
.main-3 {
    background-color: $fondo;
    display: inline-block;
    text-align: center;
    width: 100%;

    .titulo-productos {
        @extend .titulos;
    }

    .productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;

        .producto {
            overflow: hidden;
            max-width: 30%;
            min-width: 300px;
            background-color: #E5BA73;
            border-radius: 20px;
            border: #4C3D3D solid 1px;
            margin: 50px;
            transition: all 0.3s;

            img {
                margin-top: 10px;
                max-width: 50%;
            }

            .title-dona {
                font-size: 24px;
            }

            &:hover {
                transform: scale(1.2);
                box-shadow: 44px 36px 5px 0px rgba(0, 0, 0, 0.75);

            }
        }
    }
}

@media (max-width:500px) {

    .main-3 .productos .producto {

        max-width: none;
        min-width: 30vw;
        margin: 10px;
        transition: none;

        &:hover {
            transform: none;
        }
        img{
            max-width: 100%;    
        }
    }
}