/* estilo para el contenedor productos */
.main-3 {
    background-color: $fondo;
    display: inline-block;
    text-align: center;
    width: 100%;
    .titulo-productos {
        @extend .titulos;
    }
    .productos {
        display: block;
        .producto {
            display: inline-block;
            background-color: #E5BA73;
            border: #4C3D3D solid;
            img {
                width: 50%;
                height: auto;
            }
            .title-dona {
                font-size: 24px;
            }
        }
    }
}







